:root{
   --wrapper-bg: #ececec;
   --board-bg: #1e1e1e;
   --normal-key-bg-color:  #dcf5fd;
   --normal-key-color: #287f9c;
   --normal-shadow-color:#b4d9e6;
   --accent-key-bg-color: #d12424;
   --accent-key-color:  #f7cfcf;
   --accent-shadow-color: #8f1818;
   --secundary-key-bg-color: #e8c6ff;
   --secundary-key-color:  #522fd1;
   --secundary-shadow-color: #bf9cd6;
}

.main-color{
   background: var(--normal-key-bg-color);
   color: var(--normal-key-color);
   border-radius: 5px;
   box-shadow: -8px 8px 0px inset var(--normal-shadow-color), 8px 8px 0px inset var(--normal-shadow-color), -8px -8px 0px inset var(--normal-shadow-color),8px -8px 0px inset var(--normal-shadow-color);
}
.accent-color{
   background: var(--accent-key-bg-color);
   color: var(--accent-key-color);
   border-radius: 5px;
   box-shadow: -8px 8px 0px inset var(--accent-shadow-color), 8px 8px 0px inset var(--accent-shadow-color), -8px -8px 0px inset var(--accent-shadow-color),8px -8px 0px inset var(--accent-shadow-color);
}

.secundary-color{
   background: var(--secundary-key-bg-color);
   color: var(--secundary-key-color);
   border-radius: 5px;
   box-shadow: -8px 8px 0px inset var(--secundary-shadow-color), 8px 8px 0px inset var(--secundary-shadow-color), -8px -8px 0px inset var(--secundary-shadow-color),8px -8px 0px inset var(--secundary-shadow-color);
}

html{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
   text-align: center;
   font-size: 64px;
   font-family: Lobster;
}

.wrapper{
   background:var(--wrapper-bg);
   width: 100%;
   height: 100vh;
   margin: 0 auto;
   padding-top: 100px;
}

.board{
   width: 1200px;
   height: 376px;
   background: var(--board-bg);
   margin: 0 auto;
   padding: 10px;
}

#row{
   display: flex;
   justify-content: space-between;
   margin-bottom: 6px;
}

   .key{
      position: relative;
      flex-direction: row;
      font-size: 20px;
   }
   .key-normal{
      width:70px;
      height: 70px;
   }

     .key-normal .main-text{
         position: absolute;
         left: 14px;
         top: 10px;
      }
     .key-normal .secondary-text{
         position: absolute;
         left: 14px;
         bottom: 10px;
      }
      .letter{
         font-size:22px;
      }
   
      .key-backspace .main-text,
      .key-tab .main-text,
      .letter,
      .key-caps,
      .key-enter,
      .key-big-shift,
      .key-ctrl{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
      }

   .key-backspace{
      width: 140px;
      height: 70px;
   }
   .key-tab{
      width: 105px;
      height: 70px;
   }
   .key-caps{
      width: 120px;
      height: 70px;
   }
   .key-enter{
      width: 160px;
      height: 70px;
   }
   .key-big-shift{
      width: 170px;
      height: 70px;
   }
   .key-ctrl{
      width: 90px;
      height: 70px;
   }
   .key-space{
      width: 450px;
      height: 70px;
   }

   .key-slash{
      width: 105px;
      height: 70px;
      position: relative;
   }
      .key-slash .main-text{
         display: flex;
         justify-content: center;
         position: relative;
        top: 10px;
      }

      .key-slash .secondary-text{
         display: flex;
         justify-content: center;
         position: relative;
        top: 16px;
      }

img.esc{
   width: 35px;
}
img.backspace{
   width: 124px;
   padding-top: 18px;
}
img.enter{
   width: 110px;
}
img.space{
   width: 110px;
}

img.arrow{
   width: 35px;
}