body{
   
}

.center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.body{
    position: relative;
    width: 400px;
    height: 700px;
    background: black;
    left: 500px;
    top: 100px;
}
